################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/try3YT/.vs/try3YT/FileContentIndex/7ee6bf3c-eace-43a9-a472-d1a4e7d9d4e8.vsidx
/try3YT/.vs/try3YT/FileContentIndex/ab4a679d-4a40-4bcd-8830-64c7f279bbd4.vsidx
